.quote-container {
    display: flex;
    flex-direction: column;
    align-items: center;
    height: 200px;
    max-width: 800px;
    margin: 0 auto;
  }
  
.quote-button {
    background-color: #4caf50;
    color: white;
    padding: 10px 20px;
    font-size: 16px;
    cursor: pointer;
    border: none;
    border-radius: 5px;
    margin-bottom: 10px;
}

.quote-button:hover {
    background-color: #45a049;
}

.quote {
    font-size: 18px;
    text-align: center;
    white-space: pre-line;
    margin-bottom: 10px;
}

.copy-button {
    background-color: #007bff;
    color: white;
    padding: 5px 10px;
    font-size: 14px;
    cursor: pointer;
    border: none;
    border-radius: 3px;
    margin-top: 5px;
}

.copy-button:hover {
    background-color: #0056b3;
}
  